<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Dashboard</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
<!-- PLUGIN-INJECTIONS -->
</head>
<body>
<div class="header">
    <span hx-get="/backend-name" hx-trigger="load" hx-swap="outerHTML">Loading name...</span>
</div>

<div style="display: flex">
    <div class="sidebar" hx-get="/sidebar" hx-trigger="load" hx-swap="innerHTML">
        Loading menu…
    </div>

    <div class="main" id="main">
        <p>Welcome. Select a tab on the left.</p>
    </div>
</div>
</body>
</html>
